@media only screen and (max-width: 931px) {
    .loginimgforcontainer{
        height: 100%;
        width: 100%;
    }
    .imgcontainer{
        width: 40%;
    }
    .formcontainer{
        width: 60%;
    }
  }
  
@media only screen and (max-width: 650px) {
    .imgcontainer{
        display: none;
    }
    .formcontainer{
        width: 100%;


        /* done and extra trial */
        background-image: url('loginimg.jpg');
        
    }
     .subtitle{
        color: white;
    }
    .forgot{
        color: blue;
    }
    .title{
        color: white;
    }
    .realformcontainer{
        background: transparent;
      
    } 
    .googlesign{
        background-color: rgb(232, 233, 225);
        color: black;
    }
    
    
  }