@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 241, 237);
}

/* Body Background setup */
#logincontainer {
    display: flex;
    height: 100vh;
    width: 100%;

    justify-content: center;
    align-items: center;
    margin: auto;
    /* box-shadow: 1rem 0 0.5rem -0.2rem #888; */

}

.loginimgforcontainer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* box-shadow: 0.7rem 0 0.5rem -0.2rem #888; */
    border-radius: 0.5rem;
}

.imgcontainer {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;



}

.formcontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(243, 229, 26); */


}

/* Img Background setup */

.sidebg {
    height: 100%;
    width: 100%;

}

/* Form Background setup */
.realformcontainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    justify-content: center;
    /* margin-left: 2rem; */
    /* align-items: center; */
    /* margin-top: 200px; */
    background-color: rgb(255, 255, 255);
    /* background-color: aqua ; */
}
.newjoin{
    height: 10%;
    width: 70%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */

    
    /* margin-bottom: 0; */
    align-items: end;
    /* background-color: #04c45c; */
}

.subtitle {
    font-family: 'Geologica', sans-serif;
    /* font-weight: 700; */
    font-weight: 200;
    font-size: 0.8rem;

}

.welcome {
    margin-bottom: 0.1rem;
}

.title {
    margin-bottom: 1rem;
    font-family: 'Geologica', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;

}

/* Input sytling */

.inputlgc {
    background-color: white;
    color: rgb(44, 43, 43);
    height: 1.6rem;
    width: 100%;
    border: 0.1rem solid rgb(199, 199, 199);
    border-radius: 0.3rem;
    padding: 0.4rem 0.7rem;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;

}

.subtileflx {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}
.formfeatures{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;

    
}
#remember {

    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: white;
    vertical-align: middle;
    border: 0.1rem solid #ddd;
    appearance: none;
    border: 0.19em solid rgb(216, 215, 214);
    outline: none;
    cursor: pointer;
    margin-right: 0.4rem;
}


#remember:checked {
    background-color: gray;
}
.forgot{
    margin-right: 0.6rem;
    text-decoration: none;
}

.btn{
    height: 2.4rem;
    padding: 0.4rem 0.7rem;
    width: 109%;
    margin: 0.5rem 0rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
}
.logbtn{
    background-color: #04c45c;
    color: white;
    margin-top: 2rem;
}
.googlesign{
    background-color: #2d3748;
    color: white;
    /* margin-top: 2rem; */
    padding: 0.4;
}
.glogo{
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}
/* background-color: #2d3748; */




/* Validation icons css */
.errorhidden{
    visibility: hidden;
}
.errormsg{
    visibility: visible;
    color: red;
    font-size: 0.8rem;
    padding-left: 0.3rem;
    
    
}


.inputlgc:focus{
    outline: 0;
    border-color: black;
}
.success{
    border-color: #2ecc71;

}

.error{
 border-color: #e74c3c;
}
.differ{
    position: relative;
    
}
.inputfeature i {
    position: absolute;
    left: 100%;
    bottom: 13px;
    /* visibility: hidden; */
} 
.inputfeature.success i .fa-circle-check {
    visibility: hidden;
}
.fa-circle-xmark {
    visibility: hidden;
}
.fa-circle-check {
    color: #2ecc71;
    visibility: hidden;

}
.fa-circle-xmark {
    color: #e76c2c;
    /* visibility: visible; */

}
